input {
  height: 2.5rem;
  padding: .125rem .125rem .125rem 1.25rem;

  &[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
  }

  &::placeholder {
    color: var(--bs-border-color);
    font-size: .875rem;
  }
}
label {
  &[for="checkDefault"] {
    margin-left: 1rem;
    margin-top: .25rem;
    line-height: 1.5rem;
  }
}

button {
  height: 2.5rem;
}

