<div class="container pt-4">
  <div class="row align-items-end gy-4">
    <div class="col-12 col-md-6 col-xl-3">
      <label for="inputFlightName" class="form-label mb-1 small">Nazwa lotu</label>
      <input type="text" class="form-control" id="inputFlightName" placeholder="Wpisz nazwę">
    </div>
    <div class="col-12 col-md-6 col-xl-3">
      <label for="inputFlightDateRange" class="form-label mb-1 small">Data lotu</label>
      <input type="text" class="form-control" id="inputFlightDateRange" placeholder="RRRR/MM/DD - RRRR/MM/DD">
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-2">
      <input class="form-check-input" type="checkbox" id="checkDefault">
      <label class="form-check-label small" for="checkDefault">
        Pokaż tylko udane loty
      </label>
    </div>
    <div class="col-12 col-md-6 col-xl-3 d-grid">
      <button class="btn btn-primary text-white">szukaj</button>
    </div>
  </div>
  <hr>
</div>
